body{
font-family: Arial;
background:#eef2f7;
margin:0;
}

h1{
background:#2c3e50;
color:white;
padding:20px;
text-align:center;
margin:0;
}

h2{
text-align:center;
margin-top:30px;
}

.controls{
text-align:center;
margin:20px;
}

select,input{
padding:8px;
margin:5px;
}

button{
padding:8px 15px;
background:#3498db;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#21618c;
}

table{
width:70%;
margin:auto;
border-collapse:collapse;
background:white;
}

th, td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

th{
background:#3498db;
color:white;
}

#studentOutput,#productOutput{
margin-top:20px;
}